.glyph {
  color: inherit;
  display: inline-block;
  overflow: hidden;
  text-align: left;
  text-indent: 100%;
  white-space: nowrap;
  position: relative;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

.glyph::before {
  display: inline-block;
  font-family: OneNikeGlyphs;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  text-indent: 0;
  line-height: 1;
  margin-top: -0.5em;
}

.logo::before {
  content: '\f139';
}

.jumpman::before {
  content: '\f11e';
}

.cart::before {
  content: '\f108';
}

.chat::before {
  content: '\f121';
}
